@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom.scss';

html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 270px;
    
}
footer.footer{
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 16px;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-image: url(../images/DeWatermark.ai_1762023424937.jpeg);
    background-size: cover;
    filter:brightness(0.3) ;
}
*{position: relative;
}
.hero-scene-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
.text-justify{
    text-align: justify;
}

.image-card{
    position: relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
.action-image-buttons{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
    }

    img{
        transition: all 0.8s ease;
    }

    .titre-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        font-family: $font-family-serif;
        font-size: 18px;
        transition: all 0.8s ease;
        white-space: nowrap; // Added to ensure text is in a single line
    
    }
}

.acc{
    filter: brightness(0.7);
}

.form-label{
    font-weight: bold;
    color: $primary;
}

.modal{
        animation: ease-in 1s;

}
.allresa{
    a{
        display: block;
        color: black;
        padding: 10px;
    }
}