@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom.scss';

html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 250px;
    
}
footer.footer{
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 16px;
}

.hero-scene{
    position: relative;
    &::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-image: url(../images/DeWatermark.ai_1762023424937.jpeg);
    background-size: cover;
    filter:brightness(0.3) ;
}
*{position: relative;
}
.hero-scene-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}